name: issues
on:
  issues:
    types: [closed]
jobs:
  add-comment:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Did I solve your problem?
        uses: peter-evans/create-or-update-comment@23ff15729ef2fc348714a3bb66d2f655ca9066f2
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            I hope I helped!
            
            Consider [sponsoring](https://github.com/sponsors/willmcgugan) my work on Rich. I give tech support for free, in addition to maintaining Rich and Textual.
            
            If you like using Rich, you might also enjoy [Textual](https://textual.textualize.io).

            Will McGugan
            
